In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("C:/Users/Enzo/OneDrive/Escritorio/Henry PF/csv/game.csv")
df.head(5)

,season_id,team_id_home,team_abbreviation_home,team_name_home,game_id,game_date,matchup_home,wl_home,min,fgm_home,...,reb_away,ast_away,stl_away,blk_away,tov_away,pf_away,pts_away,plus_minus_away,video_available_away,season_type
0,21946,1610610035,HUS,Toronto Huskies,24600001,1946-11-01 00:00:00,HUS vs. NYK,L,0,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,68.0,2,0,Regular Season
1,21946,1610610034,BOM,St. Louis Bombers,24600003,1946-11-02 00:00:00,BOM vs. PIT,W,0,20.0,...,NaN,NaN,NaN,NaN,NaN,25.0,51.0,-5,0,Regular Season
2,21946,1610610032,PRO,Providence Steamrollers,24600002,1946-11-02 00:00:00,PRO vs. BOS,W,0,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,53.0,-6,0,Regular Season
3,21946,1610610025,CHS,Chicago Stags,24600004,1946-11-02 00:00:00,CHS vs. NYK,W,0,21.0,...,NaN,NaN,NaN,NaN,NaN,22.0,47.0,-16,0,Regular Season
4,21946,1610610028,DEF,Detroit Falcons,24600005,1946-11-02 00:00:00,DEF vs. WAS,L,0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,50.0,17,0,Regular Season

In [3]:
df.tail()

,season_id,team_id_home,team_abbreviation_home,team_name_home,game_id,game_date,matchup_home,wl_home,min,fgm_home,...,reb_away,ast_away,stl_away,blk_away,tov_away,pf_away,pts_away,plus_minus_away,video_available_away,season_type
65693,42022,1610612748,MIA,Miami Heat,42200403,2023-06-07 00:00:00,MIA vs. DEN,L,240,34.0,...,58.0,28.0,3.0,5.0,14.0,18.0,109.0,15,1,Playoffs
65694,42022,1610612748,MIA,Miami Heat,42200404,2023-06-09 00:00:00,MIA vs. DEN,L,240,35.0,...,34.0,26.0,11.0,7.0,8.0,18.0,108.0,13,1,Playoffs
65695,42022,1610612743,DEN,Denver Nuggets,42200405,2023-06-12 00:00:00,DEN vs. MIA,W,240,38.0,...,44.0,18.0,9.0,7.0,8.0,21.0,89.0,-5,1,Playoffs
65696,32022,1610616834,LBN,Team LeBron,32200001,2023-02-19 00:00:00,LBN vs. GNS,L,221,79.0,...,46.0,43.0,8.0,1.0,12.0,2.0,184.0,9,1,All-Star
65697,32022,1610616834,LBN,Team LeBron,32200001,2023-02-19 00:00:00,LBN vs. GNS,L,221,79.0,...,46.0,43.0,8.0,1.0,12.0,2.0,184.0,9,1,All Star

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65698 entries, 0 to 65697
Data columns (total 55 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   season_id               65698 non-null  int64
 1   team_id_home            65698 non-null  int64
 2   team_abbreviation_home  65698 non-null  object
 3   team_name_home          65698 non-null  object
 4   game_id                 65698 non-null  int64
 5   game_date               65698 non-null  object
 6   matchup_home            65698 non-null  object
 7   wl_home                 65696 non-null  object
 8   min                     65698 non-null  int64
 9   fgm_home                65685 non-null  float64
 10  fga_home                50251 non-null  float64
 11  fg_pct_home             50208 non-null  float64
 12  fg3m_home               52480 non-null  float64
 13  fg3a_home               47015 non-null  float64
 14  fg3_pct_home            46624 non-null  float64
 15  ftm_home                65682 non-null  float64
 16  fta_home                62694 non-null  float64
 17  ft_pct_home             62689 non-null  float64
 18  oreb_home               46762 non-null  float64
 19  dreb_home               46699 non-null  float64
 20  reb_home                49969 non-null  float64
 21  ast_home                49893 non-null  float64
 22  stl_home                46849 non-null  float64
 23  blk_home                47072 non-null  float64
 24  tov_home                47014 non-null  float64
 25  pf_home                 62842 non-null  float64
 26  pts_home                65698 non-null  float64
 27  plus_minus_home         65698 non-null  int64
 28  video_available_home    65698 non-null  int64
 29  team_id_away            65698 non-null  int64
 30  team_abbreviation_away  65698 non-null  object
 31  team_name_away          65698 non-null  object
 32  matchup_away            65698 non-null  object
 33  wl_away                 65696 non-null  object
 34  fgm_away                65685 non-null  float64
 35  fga_away                50251 non-null  float64
 36  fg_pct_away             50209 non-null  float64
 37  fg3m_away               52480 non-null  float64
 38  fg3a_away               47015 non-null  float64
 39  fg3_pct_away            46736 non-null  float64
 40  ftm_away                65685 non-null  float64
 41  fta_away                62694 non-null  float64
 42  ft_pct_away             62692 non-null  float64
 43  oreb_away               46762 non-null  float64
 44  dreb_away               46700 non-null  float64
 45  reb_away                49973 non-null  float64
 46  ast_away                49897 non-null  float64
 47  stl_away                46849 non-null  float64
 48  blk_away                47073 non-null  float64
 49  tov_away                47013 non-null  float64
 50  pf_away                 62847 non-null  float64
 51  pts_away                65698 non-null  float64
 52  plus_minus_away         65698 non-null  int64
 53  video_available_away    65698 non-null  int64
 54  season_type             65698 non-null  object
dtypes: float64(36), int64(9), object(10)
memory usage: 27.6+ MB

In [5]:
valores_unicos = df['season_id'].unique()
print(valores_unicos)

[21946 41946 21947 41947 21948 41948 21949 41949 21950 41950 31950 21951
 41951 31951 21952 41952 31952 21953 41953 31953 21954 41954 31954 21955
 41955 31955 21956 41956 31956 21957 31957 21958 31958 21959 41959 31959
 31960 41961 31961 21962 41962 31962 21963 41963 31963 21964 31964 21965
 41965 31965 41966 31966 21967 41967 31967 21968 31968 21969 41969 31969
 41970 31970 21971 41971 31971 21972 41972 31972 21973 41973 31973 21974
 41974 31974 41975 31975 41976 31976 21977 41977 31977 21978 41978 31978
 21979 41979 31979 21980 41980 31980 21981 41981 31981 21982 41982 31982
 21983 41983 31983 21984 41984 31984 21985 41985 31985 21986 41986 31986
 21987 41987 31987 21988 41988 31988 21989 41989 31989 21990 41990 31990
 21991 41991 31991 21992 41992 31992 21993 31993 21994 41994 31994 21995
 31995 21996 41996 31996 21997 41997 31997 21998 41998 21999 31999 22000
 42000 32000 22001 32001 22002 42002 32002 22003 42003 32003 22004 42004
 32004 22005 12005 32005 22006 12006 42006 32006 22007 12007 42007 32007
 22008 12008 42008 32008 22009 12009 42009 32009 22010 12010 42010 32010
 22011 12011 42011 32011 12012 42012 32012 22013 12013 42013 32013 22014
 12014 42014 32014 22015 12015 42015 32015 22016 12016 42016 32016 22017
 12017 42017 32017 22018 42018 32018 22019 42019 32019 22020 12020 42020
 32020 22021 12021 42021 32021 22022 12022 42022 32022]

In [6]:
df['season_id'] = df['season_id'].astype(str).str[1:].astype(int)

In [6]:
df['season_id']

0        21946
1        21946
2        21946
3        21946
4        21946
         ...
65693    42022
65694    42022
65695    42022
65696    32022
65697    32022
Name: season_id, Length: 65698, dtype: int64

In [7]:
columnas_a_eliminar = [
    'video_available_away', 
    'video_available_home',"min"]
df = df.drop(columns=columnas_a_eliminar)

In [8]:
missing_data = df.isnull().mean() * 100
print(missing_data[missing_data > 0].sort_values(ascending=False))

fg3_pct_home    29.032847
dreb_home       28.918689
dreb_away       28.917166
fg3_pct_away    28.862370
oreb_home       28.822795
oreb_away       28.822795
stl_away        28.690371
stl_home        28.690371
tov_away        28.440744
tov_home        28.439222
fg3a_away       28.437700
fg3a_home       28.437700
blk_home        28.350939
blk_away        28.349417
ast_home        24.057049
ast_away        24.050960
reb_home        23.941368
reb_away        23.935280
fg_pct_home     23.577582
fg_pct_away     23.576060
fga_home        23.512131
fga_away        23.512131
fg3m_home       20.119334
fg3m_away       20.119334
ft_pct_home      4.580048
ft_pct_away      4.575482
fta_home         4.572438
fta_away         4.572438
pf_home          4.347164
pf_away          4.339554
ftm_home         0.024354
fgm_home         0.019788
ftm_away         0.019788
fgm_away         0.019788
wl_home          0.003044
wl_away          0.003044
dtype: float64

In [9]:
columnas_numericas = df.select_dtypes(include=['float64', 'int64']).columns
columnas_a_llenar = [col for col in columnas_numericas if col in [
    'fgm_home', 'fga_home', 'fg_pct_home', 'fg3m_home', 'fg3a_home', 'fg3_pct_home', 
    'ftm_home', 'fta_home', 'ft_pct_home', 'oreb_home', 'dreb_home', 'reb_home', 
    'ast_home', 'stl_home', 'blk_home', 'tov_home', 'pf_home', 'pts_home', 
    'plus_minus_home', 'fgm_away', 'fga_away', 'fg_pct_away', 'fg3m_away', 'fg3a_away', 
    'fg3_pct_away', 'ftm_away', 'fta_away', 'ft_pct_away', 'oreb_away', 'dreb_away', 
    'reb_away', 'ast_away', 'stl_away', 'blk_away', 'tov_away', 'pf_away', 'pts_away', 
    'plus_minus_away'
]]


for columna in columnas_a_llenar:
    df[columna] = df[columna].fillna(0)

In [10]:
missingData = df.isnull().mean() * 100
print(missingData[missingData > 0].sort_values(ascending=False))

wl_home    0.003044
wl_away    0.003044
dtype: float64

In [11]:
df['wl_home'] = df['wl_home'].fillna('unknown')
df['wl_away'] = df['wl_away'].fillna('unknown')

In [16]:
df = df.drop_duplicates(subset='game_id', keep='first')

In [17]:
columns_to_keep = ['game_id', 'season_id', 'game_date', 'team_id_home', 'team_id_away', 'pts_home', 'pts_away', 'season_type']
filtered_games = df[columns_to_keep]

filtered_games = filtered_games.rename(columns={
    'team_id_home': 'home_team_id',
    'team_id_away': 'away_team_id',
    'pts_home': 'home_points',
    'pts_away': 'away_points'
})

In [25]:
filtered_df = df[df['season_id'] == 12022]
print(filtered_df)

       season_id  team_id_home team_abbreviation_home          team_name_home  \
65542      12022    1610612764                    WAS      Washington Wizards
65543      12022    1610612746                    LAC             LA Clippers
65544      12022    1610612749                    MIL         Milwaukee Bucks
65545      12022    1610612756                    PHX            Phoenix Suns
65546      12022    1610612745                    HOU         Houston Rockets
...          ...           ...                    ...                     ...
65607      12022    1610612750                    MIN  Minnesota Timberwolves
65608      12022    1610612761                    TOR         Toronto Raptors
65609      12022    1610612754                    IND          Indiana Pacers
65610      12022    1610612752                    NYK         New York Knicks
65611      12022    1610612753                    ORL           Orlando Magic

        game_id            game_date matchup_home wl_home  fgm_home  fga_home  \
65542  12200001  2022-09-30 00:00:00  WAS vs. GSW       L      31.0      84.0
65543  12200002  2022-09-30 00:00:00  LAC vs. MRA       W      39.0      77.0
65544  12200003  2022-10-01 00:00:00  MIL vs. MEM       L      37.0      86.0
65545  12200008  2022-10-02 00:00:00  PHX vs. ADL       L      48.0      98.0
65546  12200007  2022-10-02 00:00:00  HOU vs. SAS       W      53.0      97.0
...         ...                  ...          ...     ...       ...       ...
65607  12200066  2022-10-14 00:00:00  MIN vs. BKN       L      36.0      82.0
65608  12200064  2022-10-14 00:00:00  TOR vs. BOS       W      49.0     108.0
65609  12200062  2022-10-14 00:00:00  IND vs. HOU       L      42.0      95.0
65610  12200065  2022-10-14 00:00:00  NYK vs. WAS       W      41.0      96.0
65611  12200063  2022-10-14 00:00:00  ORL vs. CLE       W      39.0      89.0

       ...  dreb_away  reb_away  ast_away  stl_away  blk_away  tov_away  \
65542  ...       52.0      62.0      18.0       6.0       3.0      17.0
65543  ...       25.0      38.0      16.0      14.0       5.0      17.0
65544  ...       31.0      41.0      25.0      13.0       4.0      22.0
65545  ...       31.0      40.0      28.0      10.0       5.0      24.0
65546  ...       27.0      44.0      21.0      10.0       8.0      19.0
...    ...        ...       ...       ...       ...       ...       ...
65607  ...       41.0      46.0      22.0      10.0       4.0      16.0
65608  ...       31.0      44.0      25.0       3.0       3.0      19.0
65609  ...       39.0      51.0      20.0       4.0       4.0      19.0
65610  ...       34.0      40.0      23.0       8.0      13.0      13.0
65611  ...       30.0      35.0      18.0      11.0       4.0      14.0

       pf_away  pts_away  plus_minus_away  season_type
65542     27.0      96.0                9   Pre Season
65543     34.0      81.0              -40   Pre Season
65544     19.0     107.0                5   Pre Season
65545     22.0     134.0               10   Pre Season
65546     25.0      96.0              -38   Pre Season
...        ...       ...              ...          ...
65607     29.0     112.0               10   Pre Season
65608     29.0     134.0               -3   Pre Season
65609     21.0     122.0                8   Pre Season
65610     21.0      89.0              -16   Pre Season
65611     24.0     108.0               -6   Pre Season

[70 rows x 52 columns]

In [18]:
filtered_games

,game_id,season_id,game_date,home_team_id,away_team_id,home_points,away_points,season_type
0,24600001,21946,1946-11-01 00:00:00,1610610035,1610612752,66.0,68.0,Regular Season
1,24600003,21946,1946-11-02 00:00:00,1610610034,1610610031,56.0,51.0,Regular Season
2,24600002,21946,1946-11-02 00:00:00,1610610032,1610612738,59.0,53.0,Regular Season
3,24600004,21946,1946-11-02 00:00:00,1610610025,1610612752,63.0,47.0,Regular Season
4,24600005,21946,1946-11-02 00:00:00,1610610028,1610610036,33.0,50.0,Regular Season
...,...,...,...,...,...,...,...,...
65692,42200402,42022,2023-06-04 00:00:00,1610612743,1610612748,108.0,111.0,Playoffs
65693,42200403,42022,2023-06-07 00:00:00,1610612748,1610612743,94.0,109.0,Playoffs
65694,42200404,42022,2023-06-09 00:00:00,1610612748,1610612743,95.0,108.0,Playoffs
65695,42200405,42022,2023-06-12 00:00:00,1610612743,1610612748,94.0,89.0,Playoffs
65696,32200001,32022,2023-02-19 00:00:00,1610616834,1610616833,175.0,184.0,All-Star

In [19]:
filtered_games ['home_points'] = filtered_games ['home_points'].astype(int)
filtered_games ['away_points'] = filtered_games ['away_points'].astype(int)

In [20]:
filtered_games.info()

<class 'pandas.core.frame.DataFrame'>
Index: 65642 entries, 0 to 65696
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   game_id       65642 non-null  int64
 1   season_id     65642 non-null  int64
 2   game_date     65642 non-null  object
 3   home_team_id  65642 non-null  int64
 4   away_team_id  65642 non-null  int64
 5   home_points   65642 non-null  int64
 6   away_points   65642 non-null  int64
 7   season_type   65642 non-null  object
dtypes: int64(6), object(2)
memory usage: 4.5+ MB

In [21]:
ruta_guardado = "games_listo.csv" 
filtered_games.to_csv(ruta_guardado, index=False)