In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("C:/Users/Enzo/OneDrive/Escritorio/Henry PF/Documentación/eventmsgactiontype - tabla.xlsx")
df.head(5)

,eventactiontype_id,eventmsgtype,eventmsgactiontype,description,events,points (score)
0,1,1,8,Mate (2 PTS),1,2
1,2,1,5,Bandeja (2 PTS),1,2
2,3,1,3,Tiro en gancho de 7' (4 PTS),1,2
3,4,1,1,Tiro de 25' (3 PTS),1,3
4,5,1,2,Tiro en suspensión en carrera de 7' (5 PTS),1,2

In [3]:
print(df.iloc[243])

eventactiontype_id                       244
eventmsgtype                               5
eventmsgactiontype                         4
description           Viaje pérdida de balón
events                                     1
points (score)                             0
Name: 243, dtype: object

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 334 entries, 0 to 333
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   eventactiontype_id  334 non-null    int64
 1   eventmsgtype        334 non-null    int64
 2   eventmsgactiontype  334 non-null    int64
 3   description         334 non-null    object
 4   events              334 non-null    int64
 5   points (score)      334 non-null    int64
dtypes: int64(5), object(1)
memory usage: 15.8+ KB

In [5]:
ruta_guardado = "eventactiontype_listo.csv" 
df.to_csv(ruta_guardado, index=False)

In [13]:
df = pd.read_excel("C:/Users/Enzo/OneDrive/Escritorio/Henry PF/Documentación/eventmsgtype.xlsx")
df.head(5)

   eventmsgtype       Descripción
0             1   Canasta anotada
1             2      Tiro fallado
2             3   Rebote ofensivo
3             4  Rebote defensivo
4             5          Perdidas

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   eventmsgtype  13 non-null     int64
 1   Descripción   13 non-null     object
dtypes: int64(1), object(1)
memory usage: 340.0+ bytes

In [15]:
ruta_guardado = "eventtype_listo.csv" 
df.to_csv(ruta_guardado, index=False)